<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {% assign upcomingEvents = ((site.events | where_exp:"event", "event.date >= site.time") | sort: 'date' %}
        {% assign nextEvent = upcomingEvents.first %}
        <p>Next Event:</p>
        {% if nextEvent %}
          <p><a href="{{ nextEvent.url | relative_url }}">{{ nextEvent.title | escape }}</a></p>
        {% else %}
          <p>Check back soon.</p>
        {% endif %}
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.email_list_signup_url %}
            <li>
              {% include icon-mail.html 
                url=site.email_list_signup_url 
                text="Email list signup" %}
            </li>
          {% endif %}

          {% if site.eventbrite_url %}
            <li>
              {% include icon-empty.html 
                url=site.eventbrite_url 
                text="Eventbrite" %}
            </li>
          {% endif %}

          {% if site.twitter_username %}
            <li>
              {% include icon-twitter.html 
                username=site.twitter_username %}
            </li>
          {% endif %}

          {% if site.facebook_username %}
            <li>
              {% include icon-facebook.html 
                username=site.facebook_username %}
            </li>
          {% endif %}

          {% if site.github_username %}
            <li>
              {% include icon-github.html 
                username=site.github_username %}
            </li>
          {% endif %}

          {% if site.github_username and site.github_repo %}
            <li>
              {% include icon-github-repo.html 
                username=site.github_username
                repo=site.github_repo 
                text="Contribute to site" %}
            </li>
          {% endif %}
          
          {% if site.email %}
            {% assign email_url = "mailto:" | append: site.email) %}
            {% include icon-mail.html url=email_url text="Email us" %}
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
