---
layout: default
---
<article itemscope itemtype="http://schema.org/Event>

  <header class="item-header">
    <h1 class="item-title">{{ page.title | escape }}</h1>
    {% if page.address %}
      <p class="item-meta" itemprop="location address" itemscope itemtype="http://schema.org/PostalAddress">
        {{page.address}}
      </p>
    {% endif %}
    {% if page.days %}
    {% for day in page.days %}
        <p class="item-meta" >
          <time itemprop="startDate" datetime="{{day.day | date_to_xmlschema}}">
          {{day.day | date: site.date_format }} {{day.start | date: site.time_format}}–{{day.end | date: site.time_format}}
          </time>
        </p>
    {% endfor %}
    {% elsif page.date %}
      <p class="item-meta">
        <time itemprop="startDate" datetime="{{page.date | date_to_xmlschema}}">
          {{page.date | date: site.date_format }} {{page.date | date: site.time_format }}
        </time>
      </p>
    {% endif %}
    {% if page.rsvp %}
      <p class="item-meta"><a href="{{page.rsvp}}">Registration</a></p>
    {% endif %}
    <p class="item-meta" itemprop="isAccessibleForFree" content="True">
      Free. All are welcome!
    </p>
  </header>
  {% if page.image %}
    <img src="/assets/events/{{page.image}}" alt="{{page.title}} flyer"/>
  {% endif %}
  <div class="item-content" itemprop="description about">
    {{ content }}
  </div>
  {% assign eventDate = page.date | date_to_string %}
  {% assign projectsGroupedByDate = site.projects | group_by_exp:"project", "project.date | date_to_string" %}
  {% assign eventProjects = projectsGroupedByDate | where: "name", eventDate | first %}
  {% if eventProjects and eventProjects != empty %}
    <h3>Projects from this event</h3>
    {% include projects_list.html projects=eventProjects.items %}
  {% endif %}
</article>
