/**
 * Colors
 */

$limegreen:   #91B21A;
$silvergrey:  #838480;
$bluegreen:   #007889;
$darkteal:    #005A5F;


.color1 {
  background-color: $limegreen;
}

.color2 {
  background-color: $darkteal;
}


.dashborder {
  background-color: white;
  border: 5px dashed black;
}
