/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  height: auto;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-logo {
  display: inline-block;
  height: 115px;
  margin-left: -10px;
  margin-bottom: -10px;
}

.site-title {
  font-size: 42px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: -1px;
  width: 60%;
  padding-bottom: 1px;
  display: inline-block;
  vertical-align: bottom;

    &,
    &:visited {
      color: $grey-color-dark;
    }
    &:hover {
      text-decoration: none;
    }
}

.site-nav {
  line-height: 24px;
  position: absolute;
  top: 9px;
  right: $spacing-unit / 3;
  background-color: $background-color;
  border: 1px solid $grey-color-light;
  border-radius: 5px;
  text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
}

@media screen and (min-width: $on-smallPhone) {
  .site-title {
    font-size: 46px;
    line-height: 33px;
  }
}

@media screen and (min-width: $on-largePhone) {
  .site-title {
    width: 70%;
    vertical-align: middle;
  }
}

@media screen and (min-width: 520px) {
  .site-title {
    font-size: 50px;
    line-height: 36px;
  }

  .site-nav {
    border: none;

      .menu-icon {
        display: none;
      }
      .trigger {
        clear: none;
        position: relative;
        display: block;
      }
      .page-link {
        font-size: 14px;
        color: $text-color;
        line-height: 1;
        padding: 5px;
      }
  }
}

@media screen and (min-width: $on-palm) {
  .site-logo {
    height: 125px;
  }

  .site-nav {
    top: 11px;
  }

  .site-title {
    font-size: 56px;
    line-height: 40px;
    vertical-align: middle;
  }
}

@media screen and (min-width: $on-laptop) {
  .site-header {
    height: 120px;
  }
  .site-title {
    font-size: 66px;
    line-height: 47px;
  }

  .site-nav {
    position: relative;
    right: -20px;
    top: -36px;
    display: inline-block;
    width: 100%;
    z-index: -1;

      .page-link {
        color: $text-color;
        line-height: $base-line-height;
        display: inline;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
          margin-right: 1px;
        }
      }
  }
}
