/**
 * Grid
 */
.col {
  box-sizing: border-box;
  float: left;
  overflow: hidden;
  display: block;
}
.page-col-12,
.page-col-8,
.page-col-7,
.page-col-6,
.page-col-5,
.page-col-4 {
  width: 100%;
  padding: 3% 4% 3% 4%;
}

@media screen and (min-width: $on-palm) {
  .page-row {
    box-sizing: border-box;
    width: 100%;
    display: block;
    overflow: hidden;
  }
  .col-even {
    margin-bottom: -20em;
    padding-bottom: 20em;
  }
  .page-col-7 {
    width: 58.4%;
  }
  .page-col-6 {
    @extend .col-even;
    width: 50%;
  }
  .page-col-5 {
    @extend .col-even;
    width: 41.6%;
  }
}

@media screen and (min-width: $on-laptop) {
  .page-col-12 {
    padding-left: calc((100% - (#{$content-width} - 100px))/2);
    padding-right: calc((100% - (#{$content-width} - 100px))/2);;
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

img.center {
  display: block;
  margin: 0 auto;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit / 2;
  text-align: center;
}

.post-title {
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 42px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 28px;

    @include media-query($on-laptop) {
      font-size: 32px;
    }
  }

  h3 {
    font-size: 22px;

    @include media-query($on-laptop) {
      font-size: 26px;
    }
  }

  h4 {
    font-size: 18px;

    @include media-query($on-laptop) {
      font-size: 20px;
    }
  }

}
