/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: $medium-font-size;
  margin-bottom: $half-spacing-unit;
}

.footer-event-list {
  list-style: none;
  margin-left: 0;
}

.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: $small-font-size;
  color: $grey-color;
  margin-left: -$half-spacing-unit;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $half-spacing-unit;
  padding-left: $half-spacing-unit;
}

.footer-col-1 {
  width: -webkit-calc(50% - (#{$half-spacing-unit}));
  width:         calc(50% - (#{$half-spacing-unit}));
}

.footer-col-2 {
  float: right;
  width: -webkit-calc(30% - (#{$half-spacing-unit}));
  width:         calc(30% - (#{$half-spacing-unit}));
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$half-spacing-unit}));
    width:         calc(100% - (#{$half-spacing-unit}));
  }
}