/**
 * Home
 */
.mmh-logo {
  width: 100%;
  margin-bottom: $half-spacing-unit;
}

.mmh-home-description {
  margin-bottom: $spacing-unit;
  font-size: $medium-font-size;
  color: #000;
  border-top: 2px solid $mmh-blue;
  border-bottom: 2px solid $mmh-blue;
  background-color: lighten($grey-color, 45%);
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-content-col-wrapper {
  margin-left: -$half-spacing-unit;
  @extend %clearfix
}

.page-content-col {
  float: left;
  margin-bottom: $half-spacing-unit;
  padding-left: $half-spacing-unit;
  width: -webkit-calc(50% - (#{$half-spacing-unit}));
  width:         calc(50% - (#{$half-spacing-unit}));
}

@include media-query($on-palm) {
  .page-content-col {
    float: none;
    width: -webkit-calc(100% - (#{$half-spacing-unit}));
    width:         calc(100% - (#{$half-spacing-unit}));
  }
}

.page-header {
  margin-bottom: 2 * $spacing-unit;
}

.page-title {
  font-size: $page-title-font-size;
  line-height: $base-line-height;
}

.item-list-heading {
  font-size: $large-font-size;
}

.item-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.item-meta {
  font-size: $small-font-size;
  color: $grey-color;
  line-height: 1;
}

.item-link {
  display: block;
  font-size: $large-font-size;
}

/**
 * Item pages: Events, Resources, Projects, Blog posts
 */
.item-header {
  margin-bottom: $spacing-unit;
}

.item-title {
  font-size: $extra-large-font-size;
}

.item-content {
  margin-bottom: $spacing-unit;
}
