/**
 * Home
 */
.mmh-logo {
  width: 100%;
  margin-bottom: $spacing-unit / 2;
}

.mmh-home-description {
  margin-bottom: $spacing-unit;
  font-size: $medium-font-size;
  color: $grey-color-dark;
  border-top: 5px solid $mmh-blue;
  border-bottom: 5px solid $mmh-blue;
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-content-col-wrapper {
  margin-left: -$spacing-unit / 2;
  @extend %clearfix
}

.page-content-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
  .page-content-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

.page-header {
  margin-bottom: 2 * $spacing-unit;
}

.page-title {
  @include relative-font-size(2.5);
}

.item-list-heading {
  @include relative-font-size(1.5);
}

.item-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.item-meta {
  font-size: $small-font-size;
  color: $grey-color;
  line-height: 1;
}

.item-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Item pages: Events, Resources, Projects, Blog posts
 */
.item-header {
  margin-bottom: $spacing-unit;
}

.item-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 2;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.item-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
