---
layout: default
---

<div>
  <header class="page-header">
    <h1 class="page-title">{{ page.title | escape }}</h1>
  </header>

  {{ content }}

  {% assign projectsGroupedByDate =
      ((site.projects | group_by_exp:"project", "project.date | date: site.date_format")
          | sort: 'project.date') | reverse %}

  {% for projectsOnDate in projectsGroupedByDate %}
    <h2 class="item-list-title">{{ projectsOnDate.name }}</h2>
    {% include projects_list.html projects=projectsOnDate.items %}
  {% endfor %}
</div>
