---
layout: default
---

<div class="home">

  <h1 class="page-heading">Past events</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for event in site.events | sort 'title' | reverse %}
      {% assign currentdate = event.date | date: "%Y" %}
      {% if currentdate != date %}
        {% unless forloop.first %}
          </ul>
        {% endunless %}
        <h1 class="page-heading">{{ currentdate }}</h1>
        <ul class="post-list">
        {% assign date = currentdate %}
      {% endif %}
        <li>
          <span class="post-meta">{{ event.date | date: "%b %-d, %Y" }}</span>
          <h2>
            <a class="post-link" href="{{ event.url | relative_url }}">{{ event.title | escape }}</a>
          </h2>
        </li>
      {% if forloop.last %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>