---
layout: default
---

<div>

   <img class="mmh-logo" src="/assets/img/logo_256.svg" alt="Monthly Music Hackathon logo featuring crossed axes on a blue vinyl record">

  {{ content }}

  <div class="page-content-col-wrapper">
    <div class="page-content-col">
      <h2 class="item-list-heading">Upcoming events</h2>
      {% assign nextEvents = 
          ((site.events | where_exp:"event", "event.date >= site.time") | sort: 'date' %}
      {% include event_list.html events=nextEvents limit=3 %}
    </div>

    <div class="page-content-col">
      <h2 class="item-list-heading">Recent events</h2>
      {% assign pastEvents = 
          ((site.events | where_exp:"event", "event.date <= site.time") | sort: 'date' | reverse %}
      {% include event_list.html events=pastEvents limit=2 %}
    </div>
  </div>

</div>
