---
layout: default
---

<div class="home wrapper">

  <h1 class="page-heading">Past events</h1>

  {{ content }}

  {% assign pastEventsByYear =
      ((site.events | where_exp:"event", "event.date <= site.time") | group_by_exp:"event", "event.date | date: '%Y'")
          | sort: 'name' | reverse %}

  {% for year in pastEventsByYear %}
    <h1 class="page-heading">{{ year.name }}</h1>
      <ul class="item-list">
        {% assign events = year.items | reverse %}
        {% for event in events %}
          <li>
            {% include event_list_item.html event=event %}
          </li>
        {% endfor %}
      </ul>
  {% endfor %}
</div>
