---
layout: default
---

<div class="home">

  <h1 class="page-heading">Past events</h1>
  
  {{ content }}

  <ul class="post-list">
    {% assign pastEvents = ((site.events | where_exp:"event", "event.date <= site.time") | sort: 'date') | reverse %}

    {% for event in pastEvents %}
      {% assign currentDate = event.date | date: "%Y" %}
      {% if currentDate != date %}
        {% unless forloop.first %}
          </ul>
        {% endunless %}
        <h1 class="page-heading">{{ currentDate }}</h1>
        <ul class="post-list">
        {% assign date = currentDate %}
      {% endif %}
        <li>
          <span class="post-meta">{{ event.date | date: site.date_format }}</span>
          <h2>
            <a class="post-link" href="{{ event.url | relative_url }}">{{ event.title | escape }}</a>
          </h2>
        </li>
      {% if forloop.last %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>

</div>