---
layout: default
---

<div>
  <header class="page-header">
    <h1 class="page-title">{{ page.title | escape }}</h1>
  </header>

  {{ content }}

  {% assign pastEventsByYear =
      ((site.events | where_exp:"event", "event.date <= site.time") | group_by_exp:"event", "event.date | date: '%Y'")
          | sort: 'name' | reverse %}

  {% for year in pastEventsByYear %}
    <h2 class="item-list-heading">{{ year.name }}</h2>
      <ul class="item-list">
        {% assign events = year.items | reverse %}
        {% for event in events %}
          <li>
            {% include event_list_item.html event=event %}
          </li>
        {% endfor %}
      </ul>
  {% endfor %}
</div>
