---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="project-title">{{ page.title | escape }}</h1>

    {%
      assign creatorNames = (page.creator_names | sort )
    %}

    {% for cname in creatorNames %}
      {% if forloop.last == true %}
        <h2>{{ cname }}</h2>
      {% else %}
        <h2>{{ cname }},</h2>
      {% endif %}
    {% endfor %}

    <h3 class="project-date">
      {{ page.date | date: site.date_format }}
    </h3>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
